*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

.sidebar{

    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 10px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 230px;
    z-index: 999;
    justify-items: flex-start;
}
.sidebar ul li{
    margin: 10px 0;
    font-size: 1.2rem;
    color: black;
    font-weight: bold;
}
.logo{
    font-size: 1.5rem;
    font-weight: bold;
}
.sidebar ul{
    list-style: none;
    display: flex;
    width: 10px;
    justify-content: fixed;
    align-items: center;
}
.t{
    text-align: center;
    padding: 10px;
    margin: 10px;
}
.t .n{
    width: 500px;
    height: 40px;
    background-color: rgb(78, 78, 240);
    color: #ffff;
    border-radius: 8px;
    font-weight: bold;
}
.t .n:hover{
    background-color: skyblue;
    opacity: 0.15s;
    color: rgb(10, 116, 151);
}
.t .m{
     width: 500px;
    height: 40px;
    border-radius: 8px;
    font-weight: bold;
}
.t .m:hover{
    background-color: lightblue;
    opacity: 0.15s;
}
.p{
    text-align: center;
    background-color: black;
    padding: 5px;
}
.p h1{
    color: #ffff;
}
.p #g{
    width: 120px;
    height: 40px;
    border-radius: 8px;
    background-color:  rgb(78, 78, 240);;
    color: white;
}
.p h2{
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.p button{
    width: 450px;
    height: 200px;
    font-size: 16px;
    font-family: sans-serif;
    border-radius: 15px;
}
.b{
    background-color: black;
    text-align: center;
}


.pr{
    background-color: black;
    color: white;
    width: 400px;
    height: 400px;
}
.prbutton{
    background-color: rgb(78, 78, 240);
    width: 420px;
    height: 400px; ;
    color: white;
}
.ap{
    text-align: center;
    font: 1em sans-serif;
    font-size: bold;  
    background-color: black; 
}

.b h2{
    color: black;
    font-size: 30px;
    font-weight: bold;
}
.b p{
    font-size: 17px;
}

.m{
    color: white;
    font-size: 30px;
    font-weight: bold;
    background-color: black;
    text-align: center;
    margin: 10px;
}